body{
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: monospace;
}

header {
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}
.share-button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
}