body{
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: monospace;
}

header {
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

h1{
    font-size: 20px;
    margin-bottom: 30px;

}



.share-button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
}

.container{
    width: 91%;
    margin: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
}


.tile{
    width: 100%;
    background-color: rgb(245, 245, 245);
    margin: 7px;
    border-radius:17px ;
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
    text-align: center; 
}
.image-container{
    height: 110px;
    width: 110px;
    border-radius: 60px;
    overflow: hidden;
}

.image-container img{
    height: 100%;
}

.tile-share-button{
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius :20px ;
    background-color: rgb(235, 235, 235);
}

.icon {
    width: 35px;
    height: 35px;
    margin: 4px 8px;
}